.select-dates .react-datepicker-wrapper{width: 100%;}
.select-dates .react-datepicker {
    font-family: "Proxima-Regular";
    font-size: 14px;
    background-color: #fff;
    color: #000;
    border: 1px solid #EEEEEE;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    line-height: initial;
    padding: 24px;
    box-shadow: 2px 16px 20px rgba(0, 0, 0, 10%);
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle{display: none;}
h2.react-datepicker__current-month {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.react-datepicker__header {
    text-align: center;
    background-color: #fff;
    border-bottom: none;
    border-top-left-radius: 0;
    padding: 0;
    position: relative;
}
.react-datepicker__navigation{top: 20px;}
.react-datepicker__navigation--previous {
    left: 24px;
}
.react-datepicker__navigation--next {
    right: 24px;
}
.react-datepicker__day-names {
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 12px;
}
.react-datepicker__day-names .react-datepicker__day-name{color: #959595;}
.react-datepicker__navigation-icon::before, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow{border-width: 2px 2px 0 0;}


.react-datepicker__day--selected:not([aria-disabled=true]):hover, .react-datepicker__day--in-selecting-range:not([aria-disabled=true]):hover, .react-datepicker__day--in-range:not([aria-disabled=true]):hover, .react-datepicker__month-text--selected:not([aria-disabled=true]):hover, .react-datepicker__month-text--in-selecting-range:not([aria-disabled=true]):hover, .react-datepicker__month-text--in-range:not([aria-disabled=true]):hover, .react-datepicker__quarter-text--selected:not([aria-disabled=true]):hover, .react-datepicker__quarter-text--in-selecting-range:not([aria-disabled=true]):hover, .react-datepicker__quarter-text--in-range:not([aria-disabled=true]):hover, .react-datepicker__year-text--selected:not([aria-disabled=true]):hover, .react-datepicker__year-text--in-selecting-range:not([aria-disabled=true]):hover, .react-datepicker__year-text--in-range:not([aria-disabled=true]):hover{border-radius: 50%;}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{border-radius: 50%; background: #235370;}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle{display: none;}
.react-datepicker__month {
    margin: 0;
    text-align: center;
}